/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/

// .grow-box-main {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// .grow-one {
//   flex-grow: 1;
// }
.container-height {
  height: 100vh;
}

.text-animation-text {
  position: relative;
}

.text-animation-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  opacity: 0;
  animation: fade-out 0.5s linear forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

// .food-img-container {
//   border-radius: 50%;
//   overflow: hidden;
// }
